<!--Top Section-->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2 col-sm-3">
        <div class="navbar-header">
          <ul class="nav navbar-nav navbar-left">
            <li>
              <a class="navbar-brand" href="#">
                <img class="img-responsive logo-img" src="../../assets/logo.jpg" alt="logo">
              </a>
            </li>
          </ul> <!--.nav-->
        </div> <!--.navbar-header-->
      </div> <!--.col-md-2-->
      <div class="col-md-8 col-sm-7 pd0">
        <div class="custom-search">
          <p class="nav-heading">Commentary Management System</p>
          <!--<input type="text" class="form-control" placeholder="Search by id, status, owner, fund name, frequency">-->
        </div> <!--.custom-search-->
      </div> <!--.col-md-8-->
      <div class="col-md-2 col-sm-2 hidden-sm hidden-xs">
      </div> <!--.col-md-2-->
    </div> <!--.row-->
  </div> <!--.container-fluid-->
</nav> <!--.navbar-->

<!--SEARCH-SECTION-STARTS-->
<section class="search-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="search-input-container">
          <input [(ngModel)]="searchText" type="text" class="form-control search-input-attr" placeholder="Search by id">&nbsp;&nbsp;
          <button class="search-btn" (click)="triggerEventFun()">Search</button>
        </div>
      </div>
    </div>
  </div>
</section>
<!--SEARCH-SECTION-ENDS-->
<!--data-listing-section-->
<app-listing (triggerEventFun)='displayCounter($event)'></app-listing>
